<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div>
    <p>{{doctor.name}}</p>
        </div>

    <div>
        <p>Email</p>
        <p id="email">{{doctor.email}}</p>
    </div>
    <div>
        <p>Age</p>
        <p id="Age">{{doctor.Age}}</p>
    </div>
    <div>
        <p>Phone number</p>
        <p id="Phone_number">{{doctor.Phone_number}}</p>
    </div>
    <div>
        <p>Gender</p>
        <p id="Gender">{{doctor.Gender}}</p>
    </div>
        
</body>
</html>